*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e293b);
}

.calculator{
width:380px;
padding:25px;
border-radius:25px;

background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);

box-shadow:0 8px 32px rgba(0,0,0,0.3);

color:white;
}

h2{
text-align:center;
margin-bottom:20px;
color:#00d4ff;
}

#display{
width:100%;
height:70px;
font-size:28px;
text-align:right;
padding:15px;
border:none;
border-radius:15px;
margin-bottom:20px;
background:#111827;
color:white;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

button{
height:65px;
border:none;
border-radius:15px;
font-size:20px;
cursor:pointer;
transition:.3s;
background:#1e293b;
color:white;
}

button:hover{
transform:translateY(-4px);
box-shadow:0 0 15px #00d4ff;
}

.operator{
background:#7c3aed;
}

.equal{
background:#00d4ff;
color:black;
grid-column:span 2;
}

.history{
margin-top:20px;
}

.history h3{
color:#00d4ff;
margin-bottom:10px;
}

.history ul{
max-height:150px;
overflow-y:auto;
list-style:none;
}

.history li{
padding:5px;
border-bottom:1px solid rgba(255,255,255,.1);
}

@media(max-width:450px){

.calculator{
width:95%;
}

button{
height:60px;
}

}